{#
/**
 * @file
 * Default theme implementation to display the release-version block.
 *
 * Available variables:
 * - version: The value provided by the ReleaseVersionProvider service.
 */
#}
{{ version }}
